<header>
    <div class="header">
            <span class="openbtn" onclick="openNav()"><i class="fas fa-bars"></i></span>
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="logo">
                        <a>epitmoei.ai</a>
                        <p class="pl-5">see your future</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="nav">
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Login in</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                </div>

                <!-- mobile side-menu -->
                <div class="mobile-nav">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times-circle"></i></a>
                        <a href="#">About us</a>
                        <a href="#">Login in</a>
                        <a href="#">Register</a>
        
                        <div class="icon1">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter-square"></i></a>
                            <a href="https://github.com/"><i class="fab fa-github-square"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>