<section>
    <div class="slider">
        <div class="container">
            <div class="row justify-content-center">

                <div class="left"></div>

                <div class="heading">
                    <h1>Find your perfect career & Build up to where you want to be</h1>
                </div>

                <div class="right"></div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="signup-button">
        <div class="container">
            <div class="row justify-content-center">
                <a href="#">Sign up</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="works">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-6 col-lg-6">
                    <h1>How it works</h1>

                    <div class="image">
                        <img src="../../../assets/img/image2.png">
                    </div>
                </div>

                <div class="left-circle"></div>

                <div class="col-12 col-md-6 col-lg-6">
                   <div class="right-side-points">
                       <ul>
                           <li><a href="#">1. Sign up</a></li>
                           <li><a href="#">2. Upload Resume</a></li>
                           <li><a href="#">3. Tell us what you aspire to</a></li>
                           <li><a href="#">4. Find your dream career</a></li>
                       </ul>
                   </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="define">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-8">
                    <h1>What do we do</h1>
                    <p class="pt-2">We are a group of HR domain experts, AI engineers and Product Enthuasists who came together to  solve issues that have a direct impact on the efficiency of HR, Talent Acquisition, Resource Management Groups, Learning & Development and the global Employee life-cycle function. Our focus is to create an AI First platform, leverage the full potential of Natural Language Understanding and Computer Vision to give actionable insights for our clients to improve their organization’s bottom-line figures.</p>
                </div>

                <div class="col-12 col-md-4 col-lg-4"></div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="main-cards">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-right">
                        <h6>1. Integrated solution to connect</h6>
                        <div class="seprator"></div>

                        <p>Talent Acqusition Team- Resource Management office- Learning And Development - Candidate.</p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-left">
                        <h6>2. Competency based hiring</h6>
                        <div class="seprator"></div>

                        <p>Helping organizations standardize their candidate onboarding journey;  ensuring JD’s capture what the job and org needs</p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-right">
                        <h6>3. </h6>
                        <div class="seprator"></div>

                        <p>For job sekers, and employees we intend to create a platform that helps them understand themselves better, chart their own career path and get upskilling/reskilling insights to improve their career prospects for the future.</p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-left">
                        <h6>4. </h6>
                        <div class="seprator"></div>

                        <p>Our vision is to provide a powerful platform for decision makers/Employees/Candidates that can rely on it completely for all their strategic needs.</p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-right">
                        <h6>5. </h6>
                        <div class="seprator"></div>

                        <p>On-premises deployment of our tools, to safeguard your data. Your data, our tools.</p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card float-center">
                        <h6>6. </h6>
                        <div class="seprator"></div>

                        <p>AI based manpower consulting.  We will learn about your way of hiring and will help to reduce the hiring time.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="about">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-8">
                    <h1>About us</h1>
                    <p class="pt-1">We are a group of practitioners with first-hand domain knowledge of how HR, TA, L&D and RMG functions work coupled with the sharpest minds in the AI/ML Technology space. Our understanding of contemporary issues faced by these functions, has led us to come together to solve not only today’s issues but to provide organizations and their decision makers in the executive roles, to take informed decisions that make their organizations future-ready. Our focus is to leverage the full potential of NLP/ML/AI and other emerging technologies to create a platform that is simple to use and yet sophisticated enough to address all issues faced by these functions.</p>
                    <p class="pt-4">Our focus is to leverage the full potential of NLP/ML/AI and other emerging technologies to create a platform that is simple to use and yet sophisticated enough to address all issues faced by these functions.</p>
                </div>

                <div class="col-12 col-md-4 col-lg-4"></div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="join">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <h4>Join epitome and see your future </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="register">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="main">
                        <h1>Register</h1>
                        <h5>Get our future updates to your email</h5>
                        <input type="text">
                       
                        <div class="signup mt-4">
                            <a href="#">Sign up</a>
                        </div>
                    </div>
                </div>

               <div class="col-12 col-md-12 col-lg-12">
                    <div class="row footer">

                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="left-email">
                                <p>mail: career@epitome.org</p>
                            </div>
                        </div>
        
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="right-email">
                                <p>Email: info@projectplatypus.org</p>
                            </div>
                        </div>

                    </div>
               </div>

            </div>
        </div>
    </div>
</section>
