@font-face {
    font-family: "Degular Display Demo";
    src: local("Degular Display Demo"), url(./assets/fonts/DegularDisplayDemo-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Degular Display Demo";
    src: local("Degular Display Demo"), url(./assets/fonts/DegularDisplayDemo-Black.otf) format("opentype");
}
@font-face {
    font-family: "Degular Display Demo";
    src: local("Degular Display Demo"), url(./assets/fonts/DegularDisplayDemo-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Degular Display Demo";
    src: local("Degular Display Demo"), url(./assets/fonts/DegularDisplayDemo-Medium.otf) format("opentype");
}

body {
    font-family: "Degular Display Demo", Arial, Helvetica, sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}